### IntelliJ IDEA
.idea
*.iml

### Gradle
.gradle
build

### Java
*.class

.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*



### Application
src/main/resources/config.properties

### Exceptios
!lib/*

### Dependencies with licenses
lib/ojdbc7.jar
